body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin: 30px;
}

form {
  display: flex;
  gap: 20px;
  align-items: end;
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px
}

input, button {
  height: 40px;
  box-sizing: border-box;

  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0px 10px 0px 10px;
}

.tableRow {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  font-size: 0.5rem;
  padding: 0px 3px 0px 3px;
  height: 20px;
}

.cell {
  width: 120px;
}

.header {
  font-size: 0.8rem;
  margin-bottom: 20px;
}